@use '../../scss/mixins' as *;

.carousel {
  grid-column: 1 / 5;

  @include lg {
    grid-column: 7 / 13;
    grid-row: 1 / 5;
  }

  &__item {
    img {
      width: 100%;
      height: auto;
      border-radius: 2rem;
    }
  }
}
