@use '../../scss/variables' as *;

@use '../../scss/mixins' as *;

.carousel {
  grid-column: 1 / 5;
  margin-bottom: 2rem;
  min-width: 0;

  @include md {
    grid-column: 5 / 9;
    grid-row: 1 / 5;
  }

  @include lg {
    grid-column: 7 / 13;
  }

  &__item {
    img {
      width: 100%;
      height: auto;
      border-radius: 2rem;
    }
  }

  &__arrow {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    width: 2.3rem;
    height: 2.3rem;
    background: $white;
    border-radius: 50%;
    transform: none;
    top: auto;
    bottom: -3.5rem;

    &_prev {
      left: 50%;
      margin-left: -12%;
    }

    &_next {
      right: 50%;
      margin-right: -12%;
    }

    svg {
      width: 1.1rem;
      height: 1.1rem;

      path {
        fill: $gray;
        opacity: 0.8;
      }
    }

    &::before {
      display: none;
    }

    &.slick-disabled {
      opacity: 0.5;
    }

    &:focus {
      background: $white;
      opacity: 0.8;
    }

    &:hover {
      background: $white;
    }

    @include lg {
      &:hover {
        background: $white;
        opacity: 0.8;
      }
    }
  }
}

.slick-dots {
  li {
    button {
      &:before {
        color: $white;
      }
    }

    &.slick-active button:before {
      color: $white;
    }
  }
}
