@use './scss/mixins' as *;

@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;

  @include lg {
    font-size: 24px;
  }
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

a {
  text-decoration: none;
}

.container {
  margin: 2.5rem auto;
  max-width: 360px;

  @include lg {
    max-width: 1170px;
  }
}
